.box {
	background-color: #E8E8E8;
	position: fixed;
	width: 1010px;
	height: 760px;
	top: 8%;
	left: 15%;
	border-radius: 4px;
	border: 1px solid #999;
	overflow: auto;

	.reset_zoom {
		background-color: white;
		border-radius: 10px;
		border: 2px solid blue;
		float: right;
		margin-right: 8px;
		font-size: 18px;
	}
	.close-icon {
		content: 'x';
		cursor: pointer;
		position: fixed;
		left: calc(15% + 1000px);
		top: calc(8% - 10px);
		background: #ededed;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		line-height: 20px;
		text-align: center;
		border: 1px solid black;
		font-size: 20px;
	}
	.title {
		margin-top: 4px;
		font-size: 24px;
		text-align: center;
	}
}
